<h1>Inventory</h1>
<div class="row">
  <%= display_inventory(@inventory) %>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card card-outline-primary">
      <div class="card-block">
        <p>Add a Product:</p>
        <%= render 'products/form' %>
      </div>
    </div>
  </div>
</div>
