<div class="jumbotron text-xs-center">
  <h1 class="display-3">Welcome to Trackazon!</h1>
  <p class="lead">This is the easiest way to track all the inventory you send into Amazon.  You'll be able to see how much you bought it for, how much it sells for, and how much you have left in the warehouse!</p>
  <p class="lead">If you've never been here before, click the link below to get started!  Otherwise, click the Login link at the top right!</p>

  <p>
    <%= link_to "Sign Up Now!", new_user_registration_path, class:"btn btn-lg btn-secondary" %>
  </p>
  <h3>Happy Tracking!</h3>
</div>
