<div class="col-md-8 offset-md-2">
  <h3>Hi, I'm Zac </h3>
  <p>I made this application to help track my Amazon product sells instead of using a spreadsheet.  It is still very much in beta and has barebones features, but it works for my current needs.</p>

  <p>If you have any trouble using this app or can think of some awesome new features, just let me know by creating an <a href="https://github.com/zacscodingclub/trackazon/issues">Issue over on Github</a></p>

  <p>Thanks for checking out my app!</p>
</div>
