<h1>Inventory</h1>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Purchase Price</th>
        <th>Selling Price</th>
        <th>Quantity Purchased</th>
        <th>Quantity Sold</th>
        <th>Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in inventory.products">
        <th>{{ product.name }}</th>
        <th>{{ product.item_price }}</th>
        <th>{{ product.sell_price }}</th>
        <th>{{ product.quantity }}</th>
        <th>{{ product.quantity_sold }}</th>
        <th>Angular Binding to calculate profit</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="row col-md-6">
  <div class="card card-outline-primary">
    <div class="card-block">
      <p>Add a Product:</p>
      Form Here
    </div>
  </div>
</div>
