<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="/">Trackazon</a>
    <ul class="nav navbar-nav">
      <%= render 'layouts/navigation_left' %>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <%= render 'layouts/navigation_right' %>
    </ul>
  </div><!-- /.container -->
</nav><!-- /.navbar -->
