<li class="nav-item">
  <a class="nav-link" href="/inventory">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" ui-sref="about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" ui-sref="contact">Contact</a>
</li>
