<% if user_signed_in? %>
  <li class="nav-item">
    <a ui-sref="user" class="nav-link" id="<%= current_user.id %>">Welcome <%= current_user.full_name %>!</a>
  </li>
  <li class="nav-item">
    <%= link_to "Logout", destroy_user_session_path, class:"nav-link", :method => 'delete' %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class:"nav-link" %>
  </li>
<% end %>
